<h1>New Tool</h1>

<%= @error%>

<%= form_for(@tool) do |f|%>
<%= f.hidden_field :job_id, :value => @job.id %>
<p>
    <%= f.label :title, 'Tool name:' %>
    <%= f.text_field :title %>

    <%= f.submit 'Submit'%>
</p>

<%end%>