<h1>All Current Jobs</h1>

<% @jobs.each do |job| %>
    <p>
    <strong><%= link_to job.title, job_path(job) %></strong> 
    by <strong><%= job.user.email%></strong>
<%end%>

<h2>Jobs you have recommended tools for:</h2>
    <p>
    <% current_user.rec_tools.each do |job| %>
    <strong><%= link_to job.title, job_path(job) %></strong> 
    by <strong><%= job.user.email%></strong>
    <strong>Rec. tool count:</strong> (<%=job.tools.count%>)
    <br>
    </p>
<%end%>