<h1><%= @job.title%> by <%=@job.user.email%></h1>

<p><strong>Details:</strong> <%= @job.content%></p>

<p><strong>Tool list:</strong></p>
    <ul>
        <% @job.user.tools.each do |t| if t.job_id == @job.id%>
       
            <li>   
                <strong><%= t.title %></strong> added by <strong><%= t.user.email %></strong>
            </li>
            <%end%>
        <%end%>
    </ul>

    <p><strong>Recommended tool list:</strong></p>
    <ul>
        <% @job.tools.each do |t| if t.user_id == @job.user_id%>
            <%yield%>
            <%else%>
                <li>   
                    <strong><%= t.title %></strong> recommended by <%= t.user.email %>
                </li>
            <%end%>
        <%end%>
    </ul>

<% if @job.user == current_user%>
    <%= link_to 'Add tools', new_job_tool_path(@job)%> |
    <%= link_to 'Edit Job', edit_user_job_path(@job.user, @job)%> |
    <%= link_to 'Delete Job', job_path(@job), method: :delete %>
    <%else%>
    <%= link_to 'Recommend tool', new_job_tool_path(@job)%>
<%end%>